h1 {
  background-color: red;
}

.Users__ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
  background-color: var(--neutral);
  gap: 0.3rem;
  padding: 0.3rem;
  margin: 0;
}
