.ArticleCard__Link {

    text-decoration: none;

}

.ArticleCard__p--posted-at {
    margin: 10px 10px 20px 10px;
    
    font-style: italic;
}

.ArticleCard__p--title {
    height: 35px;
}


.ArticleCard__article {
    width: 300px;
    height: 400px;
    background-color: var(--neutral-color);;
    border-radius: 10px;
    color: var(--secondary-color);;
    padding: 12px;
    margin: 5px;
}

.ArticleCard__img {
    width: 220px ;  
    height: 160px;
}

.ArticleCard__ThumbsUp--not-active {
color: lightgrey;    
}

.ArticleCard__ThumbsUp--active {
    color: green;    
    }

.ArticleCard__p {
 text-decoration: none;   
}


/* font-family: 'Imprima', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Loved by the King', cursive; */