/* li {
    list-style: none;
    padding-left: 0;
} */

.ArticleCard__article {
    width: 300px;
    height: 300px;
    background-color : lightskyblue;
}

.ArticleCard__img {
    width: 200px ;  
    height: 150px;
}