.CommentCard__div {
  background-color: var(--bright);
  margin: 5px;
  width: 100vw;
  padding: 10px;
  color: #202020;
  border-radius: 0.5rem;
  border: black;
  border-style: solid;
}

.CommentCard__p--posted {
  font-style: italic;
}

@media (min-width: 870px) {
  .CommentCard__div {
    width: 400px;
  }
}
