.CommentAdder__section {
    background-color: chartreuse;
}

.hidden {
    visibility: hidden;
   height: 30px;
   
} 

.visible {
    visibility: visible;
    height: 30px;
    background-color: brown;
}

