.Comments__div {
    background-color: #FFFCF2;
    
}

.Comments__ul {
    list-style: none;
    padding-left: 0px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

