.CommentAdder__section {
    background-color: var(--neutral);
    
    
    
    border-radius: 0.5rem;
    margin: 10px;
    padding: 10px;
    
}

.hidden {
    visibility: hidden;
   height: 30px;
   
} 

.visible {
    visibility: visible;
    height: 30px;
    background-color: var(--neutral);

}

