.navbar {
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-items: baseline;
    gap: 2rem;
    padding: .5rem 1rem;
}

.navbar__h2 {
    margin: 0px;
    font-size: 1rem;
}