.SingleArticle__section {
  background-color: var(--neutral);
  /* margin: 0.5rem; */
  /* height: 100%; */
  /* display: flex; */
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .SingleArticle__section {
    width: 65%;
    
    margin: auto;
  }
  }



.SingleArticle__main {
background-color: var(--bright);
margin: auto;

 border-radius: 0.5rem;
  border: #202020;
  border-style: solid; 
  
align-self: center;  
}

@media (min-width: 1000px) {
.SingleArticle__main {
max-width: 60%;
}
}
.SingleArticle__p--upvote-text{
  font-size: 1rem;
  color: var(--black);
  display:inline-block;
  
}

.SingleArticle__h3 {
  margin: 0px;
}

.SingleArticle__h4 {
  margin: 0;
  font-weight: normal;
  font-size: 1.1rem;
}

.error {
 
  color: red;
}

.SingleArticle__h5 {
  font-weight: normal;
  width: 95%;
  margin: auto;
  text-align: justify;
  font-size: 1rem;
  margin-top: 1rem;
}

.SingleArticle__div--details_area{
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "time_area votes_area comments_area";
  grid-area: details_area;
  font-size: 0.8rem;
}

@media (min-width: 425px) {
.SingleArticle__div--details_area{
  font-size: 1rem;
}
}
.SingleArticle__img {
  width: 100%;
  border-radius: 0.2rem;
}

/* @media (min-width: 870px) {
  .SingleArticle__img {
    margin: 20px 0;
    width: 50vw;
  }
} */


.vote_button {
  margin: 1rem auto;
  width: 160px;
  height: 60px;
  font-size: 1rem;
  border-radius: 0.5rem;
  border-color: var(--black);
  border-style: solid;
  cursor: pointer;
  display: flex;  
  align-items: center;
  justify-content: center;
}

.vote_button i {
  margin-right: auto;
  margin-left: 10px; 
  font-size: 2rem;
  color: #202020;
}

.vote_button p {
  
  margin-right: auto;
}

.SingleArticle__button--upvote-no-vote {
  background-color: #598b2c;
  color: #ccc5b9;
}

.SingleArticle__button--upvote-voted-up {
  background-color: #ed1c24;
  color: #058c42;
}
