.ArticleCard__Link {
  text-decoration: none;
}

.ArticleCard__Link article {
  color: var(--black);
  border-radius: 0.5rem;
  background-color: var(--yellow);

  border-style: solid;
  overflow: hidden;
  width: 96vw;
}

@media (min-width: 600px) {
  .ArticleCard__Link article {
    width: 45vw;
  }
}
@media (min-width: 1024px) {
  .ArticleCard__Link article {
    width: 30vw;
  }
}

@media (min-width: 1440px) {
  .ArticleCard__Link article {
    width: 22vw;
  }
}

.Article__div--container {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "image_area title_area"
    "image_area details_area";
}

@media (min-width: 600px) {
  .Article__div--container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image_area"
      "title_area"
      "details_area";
  }
}

.Article__div--image-area {
  grid-area: image_area;
}

.Article__div--image-area img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  .Article__div--image-area img {
    height: 250px;
  }
}

.Article__div--title-area {
  grid-area: title_area;
  margin: 5px;
  height: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Article__div--details-area {
  margin: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "time_area votes_area comments_area";
  grid-area: details_area;
  font-size: 0.8rem;
}



@media (min-width: 600px) {
  .Article__div--details-area {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
font-size: 0.9rem;
  }
}

@media (min-width: 1280px) {
  .Article__div--details-area {
    font-size: 1rem;
  }
}
.Article__div--details-area p {
  margin: 0;
}

.Article__div--time-area {
  grid-area: time_area;
}

.Article__div--votes-area {
  grid-area: votes_area;
}

.Article__div--comments-area {
  grid-area: comments_area;
}

.Article__div--votes-area span,
.Article__div--comments-area span {
  display: none;
}

@media (min-width: 600px) {
  .Article__div--votes-area span,
  .Article__div--comments-area span {
    display: inline-block;
  }
}

.ArticleCard__i--voted {
  color: var(--green);
}

.Article__div--details-area i {
  margin-right: 4px;
}
