.CommentCard__div {
  background-color: var(--yellow);
  padding: 10px;
  color: var(--black);
  border-radius: 0.5rem;
  border: var(--black);
  border-style: solid;
  width: 100%;
}

.CommentCard__p--posted {
  font-style: italic;
}

@media (min-width: 768px) {
  .CommentCard__div {
    width: 40%;
  }
}

@media (min-width: 1400px) {
  .CommentCard__div {
    width: 25%;
  }
}

.CommentCard__div--details_area {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "time_area votes_area";
  grid-area: details_area;
  font-size: 1rem;
}
