:root {
  --black: #202020;
  --yellow: #ffd100;
  --neutral: white;
  --green: #00cc66;
  --red: #ed1c24;
}

body {
  overflow-y: scroll;
  background-color: var(--neutral);
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
