.SingleArticle__section {
  background-color: var(--neutral);
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .SingleArticle__section {
    width: 65%;
    margin: auto;
  }
}

.SingleArticle__section main {
  background-color: var(--yellow);
  margin: auto;
  border-radius: 0.5rem;
  border: var(--black);
  border-style: solid;
  align-self: center;
}

@media (min-width: 1000px) {
  .SingleArticle__section main {
    max-width: 60%;
  }
}

.SingleArticle__section img {
  width: 100%;
  border-radius: 0.2rem;
}

.SingleArticle__section h3 {
  margin: 0px;
}

.SingleArticle__section h4 {
  margin: 0;
  font-weight: normal;
  font-size: 1.1rem;
}

.SingleArticle__section h5 {
  font-weight: normal;
  width: 95%;
  margin: auto;
  text-align: justify;
  font-size: 1rem;
  margin-top: 1rem;
}

.SingleArticle__div--details_area {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "time_area votes_area comments_area";
  grid-area: details_area;
  font-size: 0.8rem;
}

@media (min-width: 425px) {
  .SingleArticle__div--details_area {
    font-size: 1rem;
  }
}

.SingleArticle__span--error {
  color: var(--red);
}

.SingleArticle__section button {
  margin: 1rem auto;
  width: 160px;
  height: 60px;
  font-size: 1rem;
  border-radius: 0.5rem;
  border-color: var(--black);
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SingleArticle__section button i {
  margin-right: auto;
  margin-left: 10px;
  font-size: 2rem;
  color: var(--black);
}

.SingleArticle__section button p {
  margin-right: auto;
  font-size: 1rem;
  color: var(--black);
  display: inline-block;
}

.SingleArticle__button--no-vote {
  background-color: var(--green);
}

.SingleArticle__button--voted-up {
  background-color: var(--red);
  color: var(--green);
}
